{% trans_default_domain "illarra_admin" %}

<form action="{{ action }}" method="POST" {{ form_enctype(form) }} class="clean-section">
    {% if 'PUT' == method %}<input type="hidden" name="_method" value="PUT" />{% endif %}
    <div class="section-container js-post-tabs" data-section data-options="deep_linking: true">
    {% for translation in form.translations %}
        <div class="section">
            <h5 class="title">
                <a href="#{{ translation.locale.get('value') }}">
                    <i class="icon-section-indicator"></i> {{ translation.locale.get('value')|upper }}
                </a>
            </h5>
            <div class="content" data-slug="{{ translation.locale.get('value') }}">
                {{ form_rest(translation) }}
            </div>
        </div>
    {% endfor %}
    </div>
    {{ form_rest(form) }}
    <hr />
    <p>
        <button class="radius button" type="submit">{{ 'action.save'|trans }}</button>
    </p>
</form>
